# Server Config
HOST= #your application host
PORT= #your application port

# Postgress Config
PGUSER= #your database user
PGHOST= #your database host
PGPASSWORD= #your database user password
PGDATABASE= #your database name
PGPORT= #your database port

# JWT Token Config
ACCESS_TOKEN_KEY= #your random generate key string for creating token
REFRESH_TOKEN_KEY= #your random generate key string for creating token
ACCESS_TOKEN_AGE= #access token lifespan in second

#RAbbitMQ Config
RABBITMQ_SERVER= #your RAbbitMQ server

#aws-sdk
AWS_REGION= #your S3 deployed region
AWS_BUCKET_NAME= #your S3 bucket name
AWS_ACCESS_KEY_ID= #your AWS account access key ID
AWS_SECRET_ACCESS_KEY= #your AWS account secret access key